<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
    
    <%- include('partials/header.ejs') %>
    
    <%- include('partials/navbar.ejs') %>
    
    <main>
                <section class="formularios">
                    <form action="products/edit/<%= products.id%>?_method=PUT" method="POST">

                        <p class="etiquetas1">
                            <label for="product" class="form-label">NOMBRE DEL PRODUCTO </label>
                        </p>
                        <p class="inputs1">
                            <input type="text" name="name" placeholder="Ingresa nombre acá" class="form-input">
                        </p>
                        <p class="etiquetas1">
                            <label for="price" class="form-label">PRECIO </label>
                        </p>
                        <p class="inputs1">
                            <input type="number" name="price" placeholder="$???" class="form-input">
                        </p>
                        <p class="etiquetas1">
                            <label for="discount" class="form-label">% DE DESCUENTO </label>
                        </p>
                        <p class="inputs1">
                            <input type="text" name="discount" placeholder="%???" class="form-input">
                        </p>
                        <p class="etiquetas1">
                            <label for="category" class="form-label">CATEGORÍA </label>
                        </p>
                        <p class="inputs1">
                            <select name="category">
                            <% for (let i=0; i < product_category.length; i++) { %>
                                <option value="<%=product_category[i].id%>">
                                    <%= product_category[i].name %>
                                </option>
                                <% } %>
                            </select>
                        </p>
                        <p class="etiquetas1">
                            <label for="description" class="form-label">DESCRIPCIÓN </label>
                        </p>
                        <p class="inputs1">
                            <textarea name="descript
                            ion" class="form-input"></textarea>
                        </p>

                        <p class="boton1">
                            <button type="submit">MODIFICAR!</button>
                        </p>
                    </form>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>