<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs') %>

        <%- include('partials/navbar.ejs') %>
            <main>
                <h3 class="título">PRODUCTOS</h3>
                <div class="productoPerros">
                <ul>
                <% for (let i = 0; i < productos.length; i++){ %>
                    <li>
                        <a href="/productDetail/<%= productos[i].product_id%>"> 
                        <%= productos[i].product_name%>
                        </a>
                    </li>
                    <% } %>
                    </ul>
                </div>
                <div>
                    <% if(locals.userLogged && locals.userLogged.user_category_id == 1) { %> 
                    <a href='productCreate' class="boton1">CREAR NUEVO PRODUCTO</a>
                </div>  
                <% } %> 
            </main>

            <%- include('partials/footer.ejs') %>
    </body>
</html>