<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <%- include('partials/navbar.ejs') %>

                <main>
                    <section class="formularios">

                        <div class="bannersLat">
                            <img class="bannerLat" src="/images/otros/Banner_Perro_Izq.jpg" />
                          </div>
                        <form action="/productCreate" method="POST" enctype="multipart/form-data">

                            <p class="etiquetas1">
                                <label for="product" class="form-label">NOMBRE DEL PRODUCTO </label>
                            </p>
                            <p class="input">
                                <input type="text" name="name" placeholder="NOMBRE DEL PRODUCTO"
                                    class="form-input">
                            </p>
                            <p class="etiquetas1">
                                <label for="description" class="form-label">DESCRIPCIÓN </label>
                            <p class="input">
                                <textarea name="description" placeholder="NO TE ZARPES, HASTA 100 CARACTERES"></textarea>
                            </p>
                                                    <p class="etiquetas1">
                                <label for="category" class="form-label">CATEGORÍA </label>
                            </p>
                            <p class="input">
                                <select name="products_cat">
                                   <option value="0">categoría </option>
                                    <% for (let i=0; i < products_cat.length; i++) { %>
                                        <option value="<%=products_cat[i].product_category_id%>">
                                            <%= products_cat[i].category_name %>
                                        </option>
                                        <% } %>
                                </select>
                            </p>
                            <p class="etiquetas1">
                                <label>IMAGEN DEL PRODUCTO </label>
                            </p>
                            <p class="botonFile">
                                <input type="file" name="prodImage" accept=".jpg,.jpeg,.png,.gif" multiple>

                            </p>
                            <p class="etiquetas1">
                            <label for="price">PRECIO EN $ </label>
                            </p>
                            <p class="input">
                                <input type="number" name="price" placeholder="$???" class="form-input">
                            </p>

                            </select>

                            <p class="boton1">
                                <button type="submit">CREAR</button>
                            </p>
                        </form>
                        <div class="bannersLat">
                            <img class="bannerLat" src="/images/otros/Banner_Gato_Der.jpg" />
                          </div>
                    </section>
                </main>
                <%- include('partials/footer.ejs') %>
    </body>

</html>