<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <%- include('partials/navbar.ejs') %>

                <main>
                    <h3 class="título">REGISTRATE</h3>
                    <section class="formularios">
                        <form action="/users/register" method="POST" enctype="multipart/form-data">

                            <!-- < % if (locals.errors) { % >
                                < % for (let oneError in errors) { % >
                                    <p>
                                        < %= errors[oneError].msg % >
                                    </p>
                                    < % } % >
                                        < % } % > -->
                                            <p class="etiquetas1">
                                                <label for="nombre">Tu nombre: </label>
                                            </p>
                                            <p class="inputs1">
                                                <input type="text" name="first_name">
                                            </p>
                                            <% if (locals.errors && errors.first_name) { %>
                                                <div class="text-danger">
                                                    <%= errors.first_name.msg %>
                                                    <% } %>
                                                </div>                                                                                      
                                                    <p class="etiquetas1">
                                                        <label for="apellido">Tu apellido: </label>
                                                    </p>
                                                    <p class="inputs1">
                                                        <input type="text" name="last_name">
                                                    </p>
                                                    <% if (locals.errors && errors.last_name) { %>
                                                        <div class="text-danger">
                                                            <%= errors.last_name.msg %>
                                                            <% } %>
                                                    <p class="etiquetas1">
                                                        <label for="email">Tu e-mail: </label>
                                                    </p>
                                                    <p class="inputs1">
                                                        <input type="email" name="email">
                                                    </p>
                                                    <% if (locals.errors && errors.email) { %>
                                                        <div class="text-danger">
                                                            <%= errors.email.msg %>
                                                            <% } %>
                                                    <p class="etiquetas1">
                                                        <label for="clave">Creá tu contraseña: </label>
                                                    </p>
                                                    <p class="inputs1">
                                                        <input type="password" name="password">
                                                    </p>
                                                    <% if (locals.errors && errors.password %>
                                                        <div class="text-danger">
                                                            <%= errors.passwordmsg %>
                                                            <% } %>
                                                    <!-- <p class="etiquetas1">
                            <label for="clave">Confirma la contraseña: </label>
                        </p> -->
                                                    <!-- <p class="inputs1">
                            <input type="password" name="password">
                        </p> -->
                                                    <p class="inputs1">
                                                        <label for="avatar">Ingresa tu foto de perfil: </label>
                                                        <input type="file" name="avatar" accept=".jpg" multiple>
                                                    </p>
                                                    <% if (locals.errors && errors.avatar) { %>
                                                        <div class="text-danger">
                                                            <%= errors.avatar.msg %>
                                                            <% } %>
                                                    <p class="boton1">
                                                        <button type="submit">REGISTRATE!</button>
                                                    </p>
                        </form>
                    </section>
                </main>

                <%- include('partials/footer.ejs') %>
    </body>

</html>
