<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <%- include('partials/navbar.ejs') %>

                <main>
                    <h3 class="título">EDITAR USUARIO</h3>
                    
                    <div class="errorsBack">
                        <% if(locals && locals.errorMsg) { %> 
                         <% for (let error in errorMsg) { %>
                            <p class="errorMsg">
                                <%=errorMsg [error].msg %>
                            </p>
                            <% } %>
                            <% } %>    
                    </div>
                    <section class="formularios">
                        <div class="bannersLat">
                            <img class="bannerLat" src="/images/otros/Banner_Perro_Izq.jpg" />
                          </div>
                        <form class="edicion" action="userEdit/<%user.id%>" method="POST" enctype="multipart/form-data">
                                    <p class="etiquetas1">  
                                <label for="nombre">Nombre: </label>
                            </p>
                            <p class="input">
                                <input type="text" name="first_name" value="<%=user.first_name%>" class="first_name">
                            </p>
                            </div>
                        
                            <p class="etiquetas1">
                                <label for="apellido">Apellido: </label>
                            </p>
                            <p class="input">
                                <input type="text" name="last_name" value="<%=user.last_name%>" class="last_name">
                            </p>
                            
                            <p class="etiquetas1">
                                <label for="email">E-mail: </label>
                            </p>
                            <p class="input">
                                <input type="email" name="email" value="<%=user.email%>" class="email">    
                            </p>
                            
                            <p class="etiquetas1">
                                <label for="clave">Nueva Contraseña: </label>
                            </p>
                            <p class="input">
                                <input type="password" name="password" class="password">
                            </p>
                            <div class="etiquetas1">
                                <label for=""> Categoria: </label>  
                                <select class="" name="category">
                                    <% for (let i = 0 ; i < userCat.length ; i++) { %>
                                        <% if (userCat[i].user_category_id === user.user_category_id){%>

                                            <option value="<%=userCat[i].user_category_id%>" selected>
                                                <%=userCat[i].description%>
                                            </option>
                                        <% } else { %>
                                            <option value="<%=userCat[i].user_category_id%>">
                                                <%=userCat[i].description%>
                                            </option>
                                        <% } %>
                                    <% } %>
                                </select>
                                </div>
                                <div class="boton1">
                                <button type="submit">GUARDAR CAMBIOS</button>
                                </div>    
                        </form>
                        <div class="bannersLat">
                            <img class="bannerLat" src="/images/otros/Banner_Gato_Der.jpg" />
                          </div>
                    </section>
                    <!-- <script src="/javascript/registerVal.js" type="text/javascript"></script> -->
                </main>

                <%- include('partials/footer.ejs') %>

    </body>

</html>