<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

            <%- include('partials/navbar.ejs') %>
                <main>
                    <h3 class="título">Listado de usuarios</h3>
                    <div class="productoPerros">
                    <ul>
                    <% for (let i=0; i < users.length; i++){ %>
                    <li>
                        <a href="/userDetail/<%=users[i].user_id %>"> 
                        <%= users[i].first_name + " " + users[i].last_name + " " + users[i].user_category_id%>
                        </a>
                    </li>
                    <% } %>
                    </ul>
                        
                            </div>

                                                        <div>
                                <a href='userCreate' class="boton1">CREAR NUEVO USUARIO</a>
                            </div>                
                        
                        </main>

                <%- include('partials/footer.ejs') %>
    </body>

</html>