<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <%- include('partials/navbar.ejs') %>

            <main>
                <h3 class="título">INICIA SESION</h3>
                
                <div class="errorsBack">
                    <% if(locals && locals.errorMsg) { %> 
                     <% for (let error in errorMsg) { %>
                        <p class="errorMsg">
                            <%=errorMsg [error].msg %>
                        </p>
                        <% } %>
                        <% } %>
                </div>

                <section class="formularios">
                    <div class="bannersLat">
                        <img class="bannerLat" src="/images/otros/Banner_Perro_Izq.jpg">
                    </div>
                    <form action="/userLogin" method="post">
                        <p class="etiquetas1">
                            <label for="email">E-mail: </label>
                        </p>
                        <p class="input">
                            <input type="text" name="email">
                        </p> 
                        <p class="etiquetas1">
                            <label for="password">Contraseña: </label>
                        </p>
                        <p class="input">
                            <input type="password" name="password">
                        </p>
                        <p class="boton1">
                            <button type="submit">INGRESAR!</button>
                        </p>
                    </form>
                    <div class="bannersLat">
                        <img class="bannerLat" src="/images/otros/Banner_Gato_Der.jpg">
                    </div>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>

            <!-- <script src="/javascript/js-front.js"></script> -->
        </body>

</html>