<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <%- include('partials/navbar.ejs') %>

            <main>
                <div class="">
                    <h3>NOMBRE :<%=User.first_name%> </h3>
    
                    <!-- <br>
                    <h3 class="">APELLIDO: < %=users.last_name%> </h3>
                    <br>
                    <h3 class="">EMAIL: < %=users.email%></h3>
                    <br>
                    <h3 class=">CATEGORIA: < %=users.userCat.name%></h3>
                    <br>
                    <img src="/img/avatars/< %= users.avatar %> " alt="">
                    <br> -->

                                    
                                    <a href="/users/edit/<%= user.id%>" class="action-button edit">EDITAR USUARIO</a>

                                    <form action="/users/edit/<%= Users.id%>?_method=PUT" method="POST" style="display: inline-flex">
                                        <button type="submit" class="action-button edit">EDITAR</button>
                                    </form>
                                    <form action="/users/delete/<%= user.id%>?_method=delete" method="POST" style="display: inline-flex">
                                        <button type="submit" class="action-button delete">ELIMINAR</button>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>