<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <%- include('partials/navbar.ejs') %>

            <main>
                <div class="">
                    <h3>NOMBRE:  <%=User.first_name%> </h3>
                </div>
                <div>
                    <br>
                    <h3 class="">APELLIDO:  <%=User.last_name%> </h3>
                    <br>
                    <img src="<%=User.image %>" alt="" width="200" height="300">
                    <br> 
                    <h3 class="">EMAIL: <%=User.email%></h3>
                    <br>
                    <h3 class="">CATEGORIA: <%=User.user_cat.description%></h3>
                    <br>
                </div>

                <div>                    
                                    <a href="/userEdit/<%=User.user_id%>" class="action-button edit">
                                    <button>EDITAR</button>    
                                    </a>

                                <!-- //?_method=delete -->
                                    <form action="/userDelete/<%=User.user_id%>" method="POST" style="display: inline-flex">
                                        <button type="submit" class="action-button delete">ELIMINAR</button>
                                    </form>
                                
                </div>
                
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>